# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
local_settings.py

# Environment variables
**/.env

# Media & Static (optional — only if generated)
media/
staticfiles/
static/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Virtual environments and build artifacts
venv/
env/
ENV/
.venv/
*.egg-info/
pip-wheel-metadata/

# Migrations — keep .py files if working in teams
**/migrations/*.pyc
**/migrations/__pycache__/
# **/migrations/*.py

# Swap or backup files
*.bak
*.swp
