# Python dependencies and environments
venv/
.venv/
*.pyc
__pycache__/
instance/

# Node.js dependencies
node_modules/

# Environment variables
.env
*.env

# Django
db.sqlite3
media/

# Logs
*.log
logs/

# OS Files
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/

# Build directories
dist/
build/

# Docker/Kubernetes specifics
*.tar
docker-compose.override.yml
