### Python ###
__pycache__/
*.py[cod]
*$py.class

### Django ###
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.mo
*.sqlite3
staticfiles/        # If you're using collectstatic to this directory
.env

### Virtualenv ###
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

### VSCode ###
.vscode/

### IntelliJ IDEA ###
.idea/
*.iml
out/
gen/

### macOS ###
.DS_Store

### Docker ###
*.pid
*.tar
*.log
docker-compose.override.yml
__docker_cache__/
# Optional: ignore Docker volumes if mapped locally
pgdata/
